<nav class="navbar glass-card">
  <!-- Logo -->
  <h1 class="logo">
    snry
  </h1>

  <!-- Flex Spacer between logo and menus -->
  <div class="spacer"></div>

  <!-- Menus -->
  <a class="menu" id="nav-home" href="/">Home</a>
  <a class="menu" id="nav-about" href="/about">About Me</a>
  <a class="menu" id="nav-projects" href="/projects">Projects</a>
  <a class="menu" id="nav-services" href="/services">Services</a>
  <a class="menu" id="nav-contact" href="/contact">Contact</a>
  <% if (!locals.isAuthenticated) { %> 
    <a class="menu" id="nav-login" href="/auth/login">Login</a>
    <a class="menu" id="nav-register" href="/auth/register">Sign Up</a>
  <% } else { %>
    <a class="menu" id="nav-business-contacts" href="/admin/contacts">Business Contacts</a>
    <a class="menu" id="nav-logout" href="/auth/logout">Log Out</a>
  <% } %> 
</nav>