<nav class="navbar">
  <h1 class="logo">
    snry
  </h1>
  <div class="spacer"></div>
  <a class="menu" id="nav-home" href="/">Home</a>
  <a class="menu" id="nav-about" href="/about">About Me</a>
  <a class="menu" id="nav-projects" href="/projects">Projects</a>
  <a class="menu" id="nav-services" href="/services">Services</a>
  <a class="menu" id="nav-contact" href="/contact">Contact</a>
</nav>