<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include('partials/css-imports') %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main content -->
    <main>
      <div class="avatar"></div>
      <h1>Son Roy A. Almerol</h1>
      <div class="card" style="margin-top: 50px; margin-bottom: 50px; margin-left: 20vw; margin-right: 20vw; padding-left: 40px; padding-right: 40px">
        <p>
          I am a self-taught web developer with an extensive background in Computer Science, general programming, and graphic design.
          I usually do my web development projects with the MERN (MongoDB-Express-React-Node) stack, but I can be flexible depending on the requirements.
        </p>
      </div>
      <p style="margin-bottom: 50px;">
        Want to know more about my background?
      </p>
      <a class="button" href="https://www.linkedin.com/in/sonroyaalmerol/" target="_blank">Visit my LinkedIn</a>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <script>
      document.getElementById('nav-about').classList.add('active');
    </script>
    
    <script src="/javascripts/script.js"></script>
  </body>
</html>
