<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include('partials/css-imports') %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main content -->
    <main>
      <h1>Hello About!</h1>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <script>
      document.getElementById('nav-about').classList.add('active');
    </script>
    
    <script src="/javascripts/script.js" />
  </body>
</html>
