<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include('partials/css-imports') %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <main>
      <h1>Hello Contact!</h1>
    </main>

    <script>
      document.getElementById('nav-contact').classList.add('active');
    </script>
  </body>
</html>
