<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include('partials/css-imports') %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main content -->
    <main>
      <h1>Services</h1>
      <p style="margin-bottom: 100px;">I offer web development services for <b>ANY</b> types of project!</p>
      <div class="project-container">
        <h2>Petition Websites</h2>
        <div class="project-image">
          <img src="/images/connect-mindanao.png" width="512px">
        </div>
      </div>
      <div class="project-container">
        <h2>Management Systems</h2>
        <div class="project-image">
          <img src="/images/urc.png" width="512px">
        </div>
      </div>
      <div class="project-container">
        <h2>E-Commerce Websites</h2>
        <div class="project-image">
          <img src="/images/addutocart.png" width="512px">
        </div>
      </div>
      <h2>and many more!</h2>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <script>
      document.getElementById('nav-services').classList.add('active');
    </script>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
